/*boilerplate from: https://codepen.io/designcouch/pen/obvKxm*/
/* {
    box-sizing: border-box;
}*/

#modal-container.five {
    transform: scale(1);
}
#modal-container.five .modal-background {
    background: rgba(0, 0, 0, .0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five .modal-background .modal {
    transform: translateX(-1500px);
    /*animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;*/
    animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.five.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five.out .modal-background .modal {
    /*animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;*/
    animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

html.modal-active, body.modal-active {
    overflow: hidden;
}
#modal-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 5;
}

#modal-container .modal-background {
    background: rgba(0, 0, 0, .8);
    height: 100%;

    /*display: flex;
    justify-content: center;
    align-items: center;*/
    display: flex;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
#modal-container .modal-background .modal {
    font-family: monospace;
 
    font-weight: 300;
    margin: auto;
    width: 1300px;
    height: 100%;
}

.modal-scroll {
    margin-top: 50px;
    background: #232323;
    height: auto;
    padding: 50px;
    border-radius: 10px;
    min-height: 0%;
    transition: all 1s;
}

@media (max-width: 1300px) {
    .modal-background {
        width: 100%;
        height: 100%;
        display: block;
    }

    #modal-container .modal-background .modal {
        width: 100%;
        height: 100%;
    }

    .modal-scroll {
        margin: 0px;
        min-height: 100%;
        border-radius: 0px;
        transition: all 0.5s;
    }
}

.modal h2 {
    text-align: center;
    z-index: 11;
}

.modal a {
    text-decoration: none;
    font-size: 16px;
}

#modal-container .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
}
#modal-container .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#modal-container .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, .0);
   }
    100% {
        background: rgba(0, 0, 0, .7);
   }
}
@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, .7);
   }
    100% {
        background: rgba(0, 0, 0, .0);
   }
}
@keyframes quickScaleDown {
    0% {
        transform: scale(1);
   }
    99.9% {
        transform: scale(1);
   }
    100% {
        transform: scale(0);
   }
}
@keyframes blowUpModal {
    0% {
        transform: scale(0);
   }
    100% {
        transform: scale(1);
   }
}
@keyframes blowUpModalTwo {
    0% {
        transform: scale(1);
        opacity: 1;
   }
    100% {
        transform: scale(0);
        opacity: 0;
   }
}

@keyframes sketchIn {
    0% {
        stroke-dashoffset: 778;
   }
    100% {
        stroke-dashoffset: 0;
   }
}
@keyframes sketchOut {
    0% {
        stroke-dashoffset: 0;
   }
    100% {
        stroke-dashoffset: 778;
   }
}
@keyframes modalFadeIn {
    0% {
        background-color: transparent;
   }
    100% {
        background-color: white;
   }
}
@keyframes modalFadeOut {
    0% {
        background-color: white;
   }
    100% {
        background-color: transparent;
   }
}

